{% extends 'base.html' %}

{% block navbar %}
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard (current)</a></li>
        <li><a href="{% url 'view_members' %}">Members</a></li>
        <li><a href="{% url 'view_project' %}">Overview</a></li>
        <!-- TODO: Logout -->
        <li><a href="">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ project.project_name }}</h1>

    <!-- TODO: Tasks -->
    <h2>Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li><b>{{ task.task_name }}</b>
                <ul>
                    <li>Status: <b>{{ task.get_task_status_display }}</b></li>
                    <li>Priority: <b>{{ task.get_task_priority_display }}</b></li>
                    <li>Notes: {{ task.task_notes|linebreaks }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

    <!-- TODO: Expenses -->
    <h2>Expenses</h2>
    <ul>
        <li>Work in progress</li>
    </ul>


{% endblock %}