
{% extends 'base.html' %}
{% load static %}

{% block navbar %}
      <li class="navbar-item"><a class="me-2" style="color: F8F9FA; text-decoration: none;" href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="navbar-item"><a class="me-2" style="color: ADB5BD; text-decoration: none;" href="{% url 'view_members' %}">Members</a></li>
      <li class="navbar-item"><a class="me-2" style="color: ADB5BD; text-decoration: none;" href="{% url 'view_project' %}">Overview</a></li>
      <!-- TODO: Logout -->
      <li><a class="mr-2" style="color: ADB5BD; text-decoration: none;" href="">Logout</a></li>


{% endblock %}

{% block content %}
    <h1 class="ms-3" style="color: WHITE;">{{ project.project_name }}</h1>
    <!-- Resolve the issue of scrolling too far and casuing it to stay, add a function which tracks how far away from the start tihs is and moves with it -->
    <div class="mb-3" style="height: 1px; background-color: #EAEFF5;"></div>
    <div id="vertical_line" style="position: fixed; top: 120px; left: 48%; border-right: solid 1px white; height: 10000;"></div>

    <script>
      window.onscroll = function (){
        let vert_line = document.getElementById("vertical_line");  

        if(window.scrollY > 0){
          let scrolled = 120 - window.scrollY;
          vert_line.style.top = scrolled.toString() + 'px';
        }
        else{
          vert_line.style.top = "120px"
        }
      }
    </script>
    <!-- line break -->

    <!-- Tasks list -->
    <div id="tasksList" class="scrollable" style="width: 47%;">
      
      <div class="row">
        <div class="col-2">
          <h2 class="ms-3"style="color: WHITE">
            Tasks
          </h2>
        </div>
        <div class="col mt-1">
          <button id="tasksCreateBtn" class="rounded-5" style="width: 32px; height: 32px;" onclick="toggleForm('tasks')"> + </button>
        </div>
      </div>

      <div class="mb-3 ms-3" style="height: 1px; width: 91%; background-color: #EAEFF5"></div>
        <!-- line break --> 
      {% for task in tasks %}
      <table id="taskTable{{forloop.counter}}" class="table ms-3 rounded-3 overflow-hidden" style="width: 91%;">  

        <script 
          defer 
          data-task-status = "{{ task.get_task_status_display}}">
          var table = document.getElementById("taskTable{{forloop.counter}}");
          var data = document.currentScript.dataset;
          var task_status = data.taskStatus;
          switch(task_status){
            case "In Progress":
              table.classList.add("table-success");
              break;
            case "For Review":
              table.classList.add("table-warning");
              break;
            case "Completed":
              table.classList.add("table-danger");
              break;
          }
        </script>

          <tr>
            <td>
              <h5>{{ task.task_name }}</h5>
              <br>
              <form action="{% url "update_task" task_id=task.task_id%}" method="POST" id="task-form-{{ task.task_id }}">{% csrf_token %}
                <input type="submit" id="save-task-{{ task.task_id }}" value="Save" class="btn btn-outline-success btn-sm" style="display: none;">
              </form>
              <button type="button" class="btn btn-outline-dark btn-sm edit-btn" data-type="task" data-id="{{ task.task_id }}">Edit</button>
              <form action="{% url "delete_task" %}" method="POST">{% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.task_id }}">
                <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
              </form>
            </td>                 
            <td class="table table-light p-0" style="width:80%">
              <table style="text-align: left;" class="table table-light mb-0">
                <tr>
                  <td>
                    <i>Status:</i> <span id="status-{{ task.task_id }}">{{ task.get_task_status_display }}</span>
                    <select id="status-form-{{ task.task_id }}" form="task-form-{{ task.task_id }}" name="status" class="form-control w-25" style="display: none;">
                      <option value="0" {% if task.task_status == 0 %}selected{% endif %}>In Progress</option>
                      <option value="1" {% if task.task_status == 1 %}selected{% endif %}>For Review</option>
                      <option value="3" {% if task.task_status == 3 %}selected{% endif %}>Completed</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i>Priority:</i> <b id="priority-{{ task.task_id }}">{{ task.get_task_priority_display }}</b>
                    <select id="priority-form-{{ task.task_id }}" form="task-form-{{ task.task_id }}" name="priority" class="form-control w-25" style="display: none;">
                      <option value="L" {% if task.task_priority == "L" %}selected{% endif %}>Low</option>
                      <option value="M" {% if task.task_priority == "M" %}selected{% endif %}>Medium</option>
                      <option value="H" {% if task.task_priority == "H" %}selected{% endif %}>High</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i>Notes:</i> <span id="notes-{{ task.task_id }}">{{ task.task_notes|linebreaks }}</span>
                    <textarea id="notes-form-{{ task.task_id }}" form="task-form-{{ task.task_id }}" class="form-label mt-2 ms-2 rounded-4 overflow-hidden" style="display: none; width: 95%; resize: none;" name="notes" cols="30" rows="10">{{ task.task_notes }}</textarea>
                  </td>
                </tr>
                <tr class="removeBottomBorder">
                  <td class="removeBottomBorder">
                    <i>Deadline:</i>
                    <b id="deadline-{{ task.task_id }}">{{ task.task_deadline }}</b>
                    <input id="deadline-form-{{ task.task_id }}" form="task-form-{{ task.task_id }}" class="rounded-3 overflow-hidden w-25" style="display: none;" type="date" name="deadline" value="{{ task.task_deadline|date:'Y-m-d' }}">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
      </table>
      {% endfor %}
    </div>
    
    <!-- New task form -->
    <div id="tasksForm">
      <h2 style="color: WHITE">Create Task</h2>
      <div class="mb-3" style="height: 1px; width: 93%; background-color: #EAEFF5"></div>
      <!-- line break --> 
      <form action="{% url 'create_task' %}" method="POST">{% csrf_token %}
        <div class="row">
          <label style="color: WHITE; font-size: 26px;" for="task_name">Task Name:</label>
        </div>
        <div class="row">
          <input class="form-control mt-2 ms-2 rounded-3 overflow-hidden" style="width: 90%" type="text" name="task_name" id="task_name" required><br><br>
        </div>

        <div class="row">
          <label style="color: WHITE; font-size: 26px;"for="task_notes">Task Notes:</label>
        </div>
        <div class="row">
          <textarea class="form-label mt-2 ms-2 rounded-4 overflow-hidden" style="width: 90%; resize: none;" name="task_notes" id="task_notes" cols="30" rows="10"></textarea><br><br>
        </div>

        <label style="color: WHITE; font-size: 26px;">Task Priority:</label>
        
        <input class="mt-3" type="radio" id="task_priority_l" name="task_priority" value="L" required>
        <label style="color: WHITE;" for="task_priority_l">Low</label>
        <input class="mt-3" type="radio" id="task_priority_m" name="task_priority" value="M" required>
        <label style="color: WHITE;" for="task_priority_m">Medium</label>
        <input class="mt-3" type="radio" id="task_priority_h" name="task_priority" value="H" required>
        <label style="color: WHITE;" for="task_priority_h">High</label>
        <br><br>


        <label style="color:WHITE; font-size: 26px;" for="task_deadline">Deadline:</label>
        <input class="rounded-3 overflow-hidden" style="width:93%;"type="date" name="task_deadline" id="task_deadline"><br><br>

        <!-- TODO: Task Members-->
        <label style="color: WHITE; font-size: 26px;" for="task_members">Task Members:</label>
        <br><br>
        <div class="col">
          <button class="btn btn-light me-3" onclick="toggleForm('tasks')">Cancel</button>
          <input class="btn me-3" style="background-color: BLACK; color:WHITE;" type="submit">
        </div>
      </form>
    </div>

    <!-- New expense form -->
    <div id="expensesForm">
      <div class="ms-3">
        <h2 style="color: WHITE;">New Expense</h2>
        <div class="mb-3" style="height: 1px; width: 93%; background-color: #EAEFF5"></div>
        <!-- line break --> 
        <form action="{% url 'create_expense' %}" method="POST">{% csrf_token %}
          <div class="row">
            <label style="color: WHITE; font-size: 26px;" for="expense_date">Expense date:</label>
          </div>
          <div class="row">
            <input class="rounded-3 overflow-hidden mt-2 ms-2" style="width:90%;" type="date" name="expense_date" id="expense_date" required><br><br>
          </div>
          <div class="row">
            <label style="color: WHITE; font-size: 26px;" for="expense_desc">Expense Description:</label>
          </div>
          <div class="row">
            <textarea class="rounded-4 overflow-hidden mt-2 ms-2" style="width: 90%; resize: none;" name="expense_desc" id="expense_desc" cols="30" rows="10" required></textarea><br><br>
          </div>
          <div class="row">
            <label style="color: WHITE; font-size: 26px;" for="expense_amt">Expense Amount:</label>
          </div>
          <div class="row">
            <input class="rounded-3 overflow-hidden mt-2 ms-2" style="width: 90%;" type="number" name="expense_amt" id="expense_amt" required>
          </div>
          <br><br>

          <button class="btn btn-light me-3" onclick="toggleForm('expenses')">Cancel</button>
          <input class="btn me-3" style="background-color: BLACK; color: WHITE;" type="submit">
        </form>
      </div>
    </div>

    <!-- Expenses list -->      
    <div id="expensesList" class = "scrollable">
      <div class="row">
        <div class="col-2" style="margin-right: 6%">
          <h2  style="color: WHITE;"> 
            Expenses 
          </h2>
        </div>
        <div class="col mt-1">
          <button id="expensesCreateBtn" class="rounded-5" style="width: 32px; height: 32px;" onclick="toggleForm('expenses')">+</button>
        </div>
      </div>
        <div class="mb-3" style="height: 1px; width: 93%; background-color: #EAEFF5"></div>
        <!-- line break --> 
          {% for expense in expenses %}
            <table class="table table-success rounded-3 overflow-hidden" style="width:93%;">
              <tr>
                <th>
                  {{ expense.expense_desc}}
                  <br>
                  <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                  <form action="{% url "delete_expense" %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="expense_id" value="{{ expense.expense_id }}">
                    <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                  </form>
                </th>
                <td class="table table-light p-0" style="width:80%">
                  <table style="text-align: left" class="table table-light mb-0">
                    <tr>
                      <td><i>Expense by:</i> <b>{{ expense.member.user.name }}</b></td>
                    </tr>
                    <tr>
                      <td><i>Amount:</i> <b>PHP {{ expense.expense_amt }}</b></td>
                    </tr>
                    <tr class="removeBottomBorder">
                      <td class="removeBottomBorder"><i>Date:</i> <b>{{ expense.expense_date }}</b></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          {% endfor %}
    </div>


{% endblock %}
