{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'update_project' %}" method="POST">{% csrf_token %}
        <label for="project_name">Project Name:</label>
        <input type="text" name="project_name" id="project_name" required value="{{ project.project_name }}"><br><br>

        <label for="project_desc">Project Description:</label>
        <textarea name="project_desc" id="project_desc" cols="30" rows="10" required>{{ project.project_desc }}</textarea><br><br>

        <label for="project_start">Project Start:</label>
        <input type="date" name="project_start" id="project_start" required value="{{ project.project_start|date:'Y-m-d' }}"><br><br>

        <label for="project_end">Project End:</label>
        <input type="date" name="project_end" id="project_end" value="{{ project.project_end|date:'Y-m-d' }}"><br><br>

        <label for="project_status">Project Status:</label>
        <select name="project_status" id="project_status">
            <option value="0" {% if project.project_status == 0 %}selected{% endif %}>Ongoing</option>
            <option value="1" {% if project.project_status == 1 %}selected{% endif %}>Finished</option>
        </select><br><br>

        <input type="submit" value="Update">
    </form>

    <a href="{% url 'view_project' %}">
        <button type="button">Cancel</button>
    </a>

{% endblock %}