{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'view_members' %}">Members</a></li>
        <li><a href="{% url 'view_project' %}">Overview (current)</a></li>
        <!-- TODO: Logout -->
        <li><a href="">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    Project ID: {{ project.project_id }}<br><br>
    Project Name: {{ project.project_name }}<br><br>
    Project Description: {{ project.project_desc }}<br><br>
    Project Start: {{ project.project_start }}<br><br>
    Project End: {{ project.project_end }}<br><br>
    Project Status: {{ project.get_project_status_display }}<br><br>
    <!-- For IntegerChoices / TextChoices, use {{ OBJNAME.get_FIELDNAME_display }} -->

    <!-- Show archive button only if project status is "Finished" -->
    {% if project.project_status == 1 %}
    <a href="{% url 'archive_project' %}">
        <button type="button">Archive Project</button>
    </a><br><br>
    {% endif %}

    <!-- Show delete button only if project status is "Archived" -->
    {% if project.project_status == 2 %}
    <a href="{% url 'delete_project' %}">
        <button type="button">Delete Project</button>
    </a><br><br>
    {% endif %}

    <!-- Do not show edit details if project is "Archived" -->
    {% if project.project_status != 2 %}
    <a href="{% url 'update_project' %}">
        <button type="button">Edit Details</button>
    </a><br><br>
    {% endif %}
 
{% endblock %}