#tasksList {
    float: left;
    width: 50%;
}

#expensesList {
    float: right;
    width: 50%;
}

#tasksForm {
    float: right;
    width: 50%;
    display: none;
}

#expensesForm {
    float: left;
    width: 50%;
    display: none;
}

td>h5 {
    font-weight: normal;
}

.removeBottomBorder {
    border-bottom: 0;
}

table>tbody>tr>td>table>tbody>tr>td {
    padding: 10 !important;
}