#tasksList {
    float: left;
    width: 50%;
}

#expensesList {
    float: right;
    width: 50%;
}

#tasksForm {
    float: right;
    width: 50%;
    display: none;
}

#expensesForm {
    float: left;
    width: 50%;
    display: none;
}

#vertbreak {
  border: 3px WHITE;
  height: 500px;
}
